// Import library functions for theme creation.
@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin device-tile-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  device-tile {
    > div {
      border-color: mat-color($primary);
      &.active:not(.error) {
        box-shadow: 0px 0px 5px 0px mat-color($primary);
        background: rgba(mat-color($primary), 0.1);
        mat-icon {
          filter: drop-shadow(0 0 5px mat-color($primary));
        }
      }
      &:hover:not(.error) {
        box-shadow: 0 0px 5px -3px mat-color($primary),
                    0 0px 7px 0px mat-color($primary),
                    0 0px 10px 2px mat-color($primary);
      }
      &.error {
        border-color: mat-color($warn);
        color: mat-color($warn);
        background: rgba(mat-color($warn), 0.1);
        &:hover {
          box-shadow: 0 0px 5px -3px mat-color($warn),
                      0 0px 7px 0px mat-color($warn),
                      0 0px 10px 2px mat-color($warn);
        }
      }
    }
  }
}
