:host {
  display: block;
  width: 100%;
  padding-bottom: 16px;
  > div:first-child {
    /* TODO Remove when advanced header will be developed */
    //padding-right: 300px;
    /* TODO Remove when advanced header will be developed */
  }
  .date {
    .primary {
      margin: 6px 0;
      font-size: 3.5vh;
    }
    .secondary {
      font-size: 2vh;
    }
  }
}
