// Custom Angular Material Theming
@import '~@angular/material/theming';
@import './app/components/device-detail/device-detail.theme';
@import './app/components/device-tile/device-tile.theme';
@include mat-core();
$primary-palette: (
  50: #f1feff,
  100: #ddfdff,
  200: #c6fbff,
  300: #aff9ff,
  400: #9ef8ff,
  500: #8df7ff,
  600: #85f6ff,
  700: #7af5ff,
  800: #70f3ff,
  900: #5df1ff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #e7fdff,
  contrast: (
      50: $black-87-opacity,
      100: $black-87-opacity,
      200: $black-87-opacity,
      300: $black-87-opacity,
      400: $black-87-opacity,
      500: $black-87-opacity,
      600: $black-87-opacity,
      700: $black-87-opacity,
      800: $black-87-opacity,
      900: $black-87-opacity,
      A100: $black-87-opacity,
      A200: $black-87-opacity,
      A400: $black-87-opacity,
      A700: $black-87-opacity,
  )
);
$secondary-palette: (
  50: #fff9e0,
  100: #fff1b3,
  200: #ffe880,
  300: #ffdf4d,
  400: #ffd826,
  500: #ffd100,
  600: #ffcc00,
  700: #ffc600,
  800: #ffc000,
  900: #ffb500,
  A100: #ffffff,
  A200: #fffbf2,
  A400: #ffeabf,
  A700: #ffe2a6,
  contrast: (
      50: $black-87-opacity,
      100: $black-87-opacity,
      200: $black-87-opacity,
      300: $black-87-opacity,
      400: $black-87-opacity,
      500: $black-87-opacity,
      600: $black-87-opacity,
      700: $black-87-opacity,
      800: $black-87-opacity,
      900: $black-87-opacity,
      A100: $black-87-opacity,
      A200: $black-87-opacity,
      A400: $black-87-opacity,
      A700: $black-87-opacity,
  )
);
$homey-panel-primary: mat-palette($primary-palette);
$homey-panel-accent: mat-palette($secondary-palette);
$homey-panel-theme: mat-dark-theme($homey-panel-primary, $homey-panel-accent);

@include angular-material-theme($homey-panel-theme);

/* Themed components */
/* TODO ADD ALL MISSING COMPONENTS */
@include device-detail-theme($homey-panel-theme);
@include device-tile-theme($homey-panel-theme);

/* Current theme colors */
$primary: mat-color($homey-panel-primary);
$accent: mat-color($homey-panel-accent);

/* Angular material overrides */
mat-spinner svg circle {
  stroke-width: 2% !important;
}

.cdk-drag-preview {
  box-sizing: border-box;
  background: rgb(9, 27, 37, 0.75);
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mat-ripple-element {
  background-color: rgba($primary, 0.2);
}

mat-dialog-container.mat-dialog-container {
  background: #091b25;
  background: radial-gradient(circle, rgba(#0C2533, 0.8) -10%, rgba(#000000, 0.8) 100%);
  box-shadow: 0px 1px 16px 2px #0ff;
  width: 750px;
  max-width: 100%;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.mat-slide-toggle {
  .mat-slide-toggle.mat-disabled .mat-slide-toggle-label {
    cursor: pointer;
  }
}
.mat-slide-toggle.mat-slide-toggle-mini {
  .mat-slide-toggle-bar {
    width: 25px;
    height: 9px;
  }
  .mat-slide-toggle-thumb {
    height: 15px;
    width: 15px;
  }
  &.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(11px,0,0);
  }
}

/* General styles */

html {
  background: #091b25;
  background-image: url('./assets/bg-pattern-xs.png'), radial-gradient(circle, #0C2533 -10%, #000000 100%);
  top: 0!important;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  display: block;
  color: $primary;
  font-weight: lighter;
  overflow: auto;
}
