// Libraries imports
@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';

// Components
@import './app/components/device-detail/device-detail.theme';
@import './app/components/device-tile/device-tile.theme';

@include mat-core();
$primary-palette: (
  50: #f1feff,
  100: #ddfdff,
  200: #c6fbff,
  300: #aff9ff,
  400: #9ef8ff,
  500: #8df7ff,
  600: #85f6ff,
  700: #7af5ff,
  800: #70f3ff,
  900: #5df1ff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #e7fdff,
  contrast: (
      50: $black-87-opacity,
      100: $black-87-opacity,
      200: $black-87-opacity,
      300: $black-87-opacity,
      400: $black-87-opacity,
      500: $black-87-opacity,
      600: $black-87-opacity,
      700: $black-87-opacity,
      800: $black-87-opacity,
      900: $black-87-opacity,
      A100: $black-87-opacity,
      A200: $black-87-opacity,
      A400: $black-87-opacity,
      A700: $black-87-opacity,
  )
);
$secondary-palette: (
  50: #fff1e0,
  100: #ffdbb3,
  200: #ffc380,
  300: #ffab4d,
  400: #ff9926,
  500: #ff8700,
  600: #ff7f00,
  700: #ff7400,
  800: #ff6a00,
  900: #ff5700,
  A100: #ffffff,
  A200: #fff6f2,
  A400: #ffd1bf,
  A700: #ffbfa6,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);
$homey-panel-primary: mat-palette($primary-palette);
$homey-panel-accent: mat-palette($secondary-palette);
$homey-panel-theme: mat-dark-theme($homey-panel-primary, $homey-panel-accent);

@include angular-material-theme($homey-panel-theme);

/* Themed components */
/* TODO ADD ALL MISSING COMPONENTS */
@include device-detail-theme($homey-panel-theme);
@include device-tile-theme($homey-panel-theme);

/* Current theme colors */
$primary: mat-color($homey-panel-primary);
$accent: mat-color($homey-panel-accent);

/* Angular material overrides */
mat-spinner svg circle {
  stroke-width: 2% !important;
}

.mat-ripple-element {
  background-color: rgba($primary, 0.2);
}

mat-dialog-container.mat-dialog-container {
  background: #091b25;
  background: radial-gradient(circle, rgba(#0C2533, 0.8) -10%, rgba(#000000, 0.8) 100%);
  box-shadow: 0px 1px 16px 2px #0ff;
  width: 750px;
  max-width: 100%;
}

.mat-slide-toggle {
  .mat-slide-toggle.mat-disabled .mat-slide-toggle-label {
    cursor: pointer;
  }
}
.mat-slide-toggle.mat-slide-toggle-mini {
  .mat-slide-toggle-bar {
    width: 25px;
    height: 9px;
  }
  .mat-slide-toggle-thumb {
    height: 15px;
    width: 15px;
  }
  &.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(11px,0,0);
  }
}

/* General styles */

html {
  background: #091b25;
  background-image: url('./assets/bg-pattern-xs.png'), radial-gradient(circle, #0C2533 -10%, #000000 100%);
  top: 0!important;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  display: block;
  color: $primary;
  font-weight: lighter;
  overflow: auto;
}
