:host {
  display: block;
  padding-top: 8px;
  .zone-container {
    padding: 8px 16px;
  }
  .device-container {
    padding: 8px;
  }
}
.drag-container {
  overflow: hidden;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating,
.drag-container.cdk-drop-list-dragging .drag-content:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
