<div fxLayout="row wrap" fxLayoutAlign="center">
  <div *ngFor="let zone of zoneDevices" class="zone-container">
    <container-tile title="{{zone.name}}" subtitle="{{zone.temperature}}">
      <span tile-subtitle *ngIf="zone.temperature">
        <app-number value="{{zone.temperature.value}}" suffix="{{zone.temperature.unit}}"></app-number>
      <span class="iconify" data-icon="mdi-account"></span>
      </span>
      <span tile-content fxLayout="row wrap" fxLayoutAlign="center center">
        <div *ngFor="let device of zone.devices">
          <device-tile *ngIf="device.actionable" [device]="device" class="device-container" (toggle)="toggle($event)"></device-tile>
        </div>
      </span>
    </container-tile>
  </div>
</div>
