<div fxLayout="row wrap" fxLayoutAlign="center" *ngIf="panelZones && panelZones.length">
  <div *ngFor="let zone of panelZones" class="zone-container">
    <container-tile title="{{zones[zone.id].name}}" subtitle="{{zone.temperature}}">
      <span tile-subtitle *ngIf="zone.getTemperature">
        <app-number value="{{zone.getTemperature()}}" suffix="ºC"></app-number>
      <span class="iconify" data-icon="mdi-account"></span>
      </span>
      <span tile-content fxLayout="row wrap" fxLayoutAlign="center center">
        <div *ngFor="let device of zone.devices[type]">
          <device-tile class="device-container" [device]="devices[device.id]" [panelDevice]="device" (toggle)="toggle($event)"></device-tile>
        </div>
      </span>
    </container-tile>
  </div>
</div>
