$innerPadding: 16px;

:host {
  display: block;
  > div {
    min-height: 50px;
    border-style: solid;
    border: 1px solid #8DF8FF;
    border-top: none;
    margin-top: #{33px - $innerPadding * 0.5};
    padding: #{$innerPadding * 0.5};
    padding-top: 0;
  }
  .tile-label {
    width: calc(100% + #{$innerPadding});
    margin-left: #{-0.5 * $innerPadding};
    position: relative;
    top: -15px;
    span {
      max-height: 30px;
      display: block;
    }
    span[tile-title]:not(:empty),
    span[tile-subtitle]:not(:empty),
    .title,
    .subtitle {
      padding: 0 $innerPadding;
    }
    label {
      font-size: 1.6rem;
    }
    span.top-border {
      min-width: $innerPadding;
      background: #8DF8FF;
      height: 1px;
      position: relative;
      &.left {
        left: -1px;
      }
      &.right {
        right: -1px;
        &.full {
          right: initial;
          margin-right: -1px;
        }
      }
    }
  }
}
